In [1]:
import pandas as pd
import os
import glob

In [2]:
path = '/Users/ishantchaudhary/DL_Assignment/Crypto_data_daily/'
extension = 'csv'
os.chdir(path)
result = glob.glob('*.{}'.format(extension))

In [3]:
#Appending the dataset of different cryptos
dfs = list()
for f in result:
    data = pd.read_csv(f)
    # .stem is method for pathlib objects to get the filename w/o the extension

    size = len(f)
    data['Crypto'] = f[:size - 8]
    # adding percentage change in closing price 
    data['Change_close'] = data['Close'].pct_change()
    data['Change_close'] = data['Change_close'].bfill()
    dfs.append(data)

df = pd.concat(dfs, ignore_index=True)

In [4]:
df.head(1)

,Open Time,Open Time.1,Open,High,Low,Close,Volume,Close Time,Quote Asset Volume,Number of Trades,TB Base Volume,TB Quote Volume,Ignore,Crypto,Change_close
0,2022-03-17,2022-03-17 00:00:00.000000000,1.0,28.0,1.0,8.5192,59422632.28,2022-03-17 23:59:59.999000064,5.058322e+08,1246008,29711010.08,2.527655e+08,0.0,APE,0.535355

In [5]:
len(df)

88339

In [6]:
data = df.drop(columns=['Open Time.1','Close Time','Ignore'])

In [7]:
data.head()

,Open Time,Open,High,Low,Close,Volume,Quote Asset Volume,Number of Trades,TB Base Volume,TB Quote Volume,Crypto,Change_close
0,2022-03-17,1.0000,28.0000,1.0000,8.5192,5.942263e+07,5.058322e+08,1246008,29711010.08,2.527655e+08,APE,0.535355
1,2022-03-18,8.5192,18.0000,8.5192,13.0800,1.825611e+08,2.459146e+09,4723192,92786577.91,1.247151e+09,APE,0.535355
2,2022-03-19,13.0801,14.7500,11.4254,11.7213,5.479354e+07,7.345950e+08,1037948,26524681.82,3.564433e+08,APE,-0.103876
3,2022-03-20,11.7280,11.9472,9.5047,9.6302,4.805931e+07,5.273954e+08,792601,23365817.46,2.568081e+08,APE,-0.178402
4,2022-03-21,9.6291,11.0079,9.5684,10.5042,5.039039e+07,5.184800e+08,713131,24644945.89,2.534521e+08,APE,0.090756

In [8]:
data.sort_values(by=['Open Time'],inplace=True)
data.reset_index(inplace=True)
data = data.iloc[: , 1:]

In [9]:
pd.set_option('display.max_rows',500)
data.describe()

,Open,High,Low,Close,Volume,Quote Asset Volume,Number of Trades,TB Base Volume,TB Quote Volume,Change_close
count,8.833900e+04,8.833900e+04,8.833900e+04,8.833900e+04,8.833900e+04,8.833900e+04,8.833900e+04,8.833900e+04,8.833900e+04,88339.000000
mean,6.979667e+02,7.253318e+02,6.679324e+02,6.981713e+02,1.051676e+11,9.388584e+07,1.340633e+05,5.244967e+10,4.673363e+07,0.002492
std,4.568429e+03,4.749078e+03,4.371724e+03,4.568811e+03,2.250820e+12,3.776675e+08,3.325687e+05,1.134424e+12,1.873674e+08,0.073174
min,7.400000e-07,7.800000e-07,6.900000e-07,7.400000e-07,1.558445e+01,2.266491e+03,5.400000e+01,4.285669e+00,7.031456e+02,-0.568574
25%,2.201050e-01,2.310000e-01,2.093200e-01,2.204000e-01,6.645339e+05,3.484989e+06,1.407750e+04,3.251264e+05,1.703991e+06,-0.032654
50%,1.903200e+00,2.012400e+00,1.793650e+00,1.902900e+00,5.617498e+06,1.290279e+07,4.158200e+04,2.745176e+06,6.439419e+06,0.000000
75%,2.688000e+01,2.829725e+01,2.550000e+01,2.688500e+01,5.180227e+07,4.645139e+07,1.169085e+05,2.552613e+07,2.313978e+07,0.032249
max,8.287544e+04,9.500000e+04,6.622240e+04,8.288512e+04,2.461043e+14,1.759856e+10,1.592058e+07,1.220643e+14,9.013969e+09,3.924114

In [10]:
data.head(2)

,Open Time,Open,High,Low,Close,Volume,Quote Asset Volume,Number of Trades,TB Base Volume,TB Quote Volume,Crypto,Change_close
0,2017-08-17,301.13,312.18,298.00,302.00,7030.710340,2.154655e+06,4522,6224.589990,1.908705e+06,ETH,-0.026623
1,2017-08-17,4261.48,4485.39,4200.74,4285.08,795.150377,3.454770e+06,3427,616.248541,2.678216e+06,BTC,-0.041238

In [11]:
data.tail(2)

,Open Time,Open,High,Low,Close,Volume,Quote Asset Volume,Number of Trades,TB Base Volume,TB Quote Volume,Crypto,Change_close
88337,2022-07-21,15.5700,15.9000,14.8000,15.1600,475471.72,7.261429e+06,32101,212309.89,3.246599e+06,AXS,-0.025707
88338,2022-07-21,0.3929,0.3991,0.3787,0.3872,9209290.00,3.583293e+06,16418,4710523.00,1.832832e+06,BAT,-0.014257

In [12]:
# data.to_csv('Final_Data_Pooled.csv')

In [13]:
# Checking Start and End date for each crypto and number of entries
data.groupby(['Crypto']).agg(['first', 'last','count']).stack()['Open Time']

Crypto
1INCH   first    2020-12-25
        last     2022-07-21
        count           574
AAVE    first    2020-10-15
        last     2022-07-21
        count           645
ADA     first    2018-04-17
        last     2022-07-21
        count          1557
ALGO    first    2019-06-22
        last     2022-07-21
        count          1126
AMP     first    2021-11-23
        last     2022-07-21
        count           241
APE     first    2022-03-17
        last     2022-07-21
        count           127
AR      first    2021-05-14
        last     2022-07-21
        count           434
ATOM    first    2019-04-29
        last     2022-07-21
        count          1180
AVAX    first    2020-09-22
        last     2022-07-21
        count           668
AXS     first    2020-11-04
        last     2022-07-21
        count           625
BAL     first    2020-08-11
        last     2022-07-21
        count           710
BAT     first    2019-03-04
        last     2022-07-21
        count          1236
BCH     first    2019-11-28
        last     2022-07-21
        count           967
BNB     first    2017-11-06
        last     2022-07-21
        count          1719
BNX     first    2021-11-04
        last     2022-07-21
        count           260
BTC     first    2017-08-17
        last     2022-07-21
        count          1800
BTG     first    2021-04-16
        last     2022-07-21
        count           462
BTTC    first    2022-01-25
        last     2022-07-21
        count           178
CAKE    first    2021-02-19
        last     2022-07-21
        count           518
CELO    first    2021-01-05
        last     2022-07-21
        count           563
COMP    first    2020-06-25
        last     2022-07-21
        count           757
CVX     first    2021-12-23
        last     2022-07-21
        count           211
DASH    first    2019-03-28
        last     2022-07-21
        count          1212
DCR     first    2020-07-30
        last     2022-07-21
        count           722
DOGE    first    2019-07-05
        last     2022-07-21
        count          1113
DOT     first    2020-08-18
        last     2022-07-21
        count           703
EGLD    first    2020-09-03
        last     2022-07-21
        count           687
ENJ     first    2019-04-18
        last     2022-07-21
        count          1191
ENS     first    2021-11-10
        last     2022-07-21
        count           254
EOS     first    2018-05-28
        last     2022-07-21
        count          1516
ETC     first    2018-06-12
        last     2022-07-21
        count          1501
ETH     first    2017-08-17
        last     2022-07-21
        count          1800
FIL     first    2020-10-15
        last     2022-07-21
        count           645
FLOW    first    2021-07-30
        last     2022-07-21
        count           357
FTM     first    2019-06-11
        last     2022-07-21
        count          1137
FTT     first    2019-12-20
        last     2022-07-21
        count           945
GALA    first    2021-09-13
        last     2022-07-21
        count           312
GLMR    first    2022-01-11
        last     2022-07-21
        count           192
GMT     first    2022-03-09
        last     2022-07-21
        count           135
GRT     first    2020-12-17
        last     2022-07-21
        count           582
HBAR    first    2019-09-29
        last     2022-07-21
        count          1027
HIVE    first    2020-04-27
        last     2022-07-21
        count           816
HNT     first    2020-09-24
        last     2022-07-21
        count           666
HOT     first    2019-02-18
        last     2022-07-21
        count          1250
ICP     first    2021-05-11
        last     2022-07-21
        count           437
ICX     first    2018-06-13
        last     2022-07-21
        count          1500
IMX     first    2022-01-10
        last     2022-07-21
        count           193
IOST    first    2019-03-22
        last     2022-07-21
        count          1218
IOTA    first    2018-05-31
        last     2022-07-21
        count          1513
IOTX    first    2019-11-14
        last     2022-07-21
        count           981
JST     first    2020-08-11
        last     2022-07-21
        count           710
KAVA    first    2019-10-25
        last     2022-07-21
        count          1001
KDA     first    2022-03-11
        last     2022-07-21
        count           133
KLAY    first    2021-06-24
        last     2022-07-21
        count           393
KNC     first    2020-06-12
        last     2022-07-21
        count           770
KSM     first    2020-09-04
        last     2022-07-21
        count           686
LDO     first    2022-05-09
        last     2022-07-21
        count            74
LINK    first    2019-01-16
        last     2022-07-21
        count          1283
LPT     first    2021-05-28
        last     2022-07-21
        count           420
LRC     first    2020-06-12
        last     2022-07-21
        count           770
LTC     first    2017-12-13
        last     2022-07-21
        count          1682
MANA    first    2020-08-06
        last     2022-07-21
        count           715
MATIC   first    2019-04-26
        last     2022-07-21
        count          1183
MINA    first    2021-08-10
        last     2022-07-21
        count           346
MKR     first    2020-07-23
        last     2022-07-21
        count           729
NEAR    first    2020-10-14
        last     2022-07-21
        count           646
NEO     first    2017-11-20
        last     2022-07-21
        count          1705
NEXO    first    2022-04-29
        last     2022-07-21
        count            84
OMG     first    2019-04-03
        last     2022-07-21
        count          1206
ONE     first    2019-06-01
        last     2022-07-21
        count          1147
ONT     first    2018-06-08
        last     2022-07-21
        count          1505
PAXG    first    2020-08-28
        last     2022-07-21
        count           693
QNT     first    2021-07-29
        last     2022-07-21
        count           358
QTUM    first    2018-03-19
        last     2022-07-21
        count          1586
ROSE    first    2020-11-19
        last     2022-07-21
        count           610
RUNE    first    2020-09-04
        last     2022-07-21
        count           686
RVN     first    2019-09-25
        last     2022-07-21
        count          1031
SAND    first    2020-08-14
        last     2022-07-21
        count           707
SC      first    2020-07-06
        last     2022-07-21
        count           746
SHIB    first    2021-05-10
        last     2022-07-21
        count           438
SNX     first    2020-07-09
        last     2022-07-21
        count           743
SOL     first    2020-08-11
        last     2022-07-21
        count           710
SRM     first    2020-08-11
        last     2022-07-21
        count           710
STORJ   first    2020-07-30
        last     2022-07-21
        count           722
STX     first    2019-10-25
        last     2022-07-21
        count          1001
T       first    2022-02-25
        last     2022-07-21
        count           147
THETA   first    2019-04-10
        last     2022-07-21
        count          1199
TRX     first    2018-06-11
        last     2022-07-21
        count          1502
TUSD    first    2018-05-31
        last     2022-07-21
        count          1513
TWT     first    2021-01-27
        last     2022-07-21
        count           541
UNI     first    2020-09-17
        last     2022-07-21
        count           673
USDP    first    2021-09-10
        last     2022-07-21
        count           315
VET     first    2018-07-25
        last     2022-07-21
        count          1458
WAXP    first    2021-08-23
        last     2022-07-21
        count           333
WOO     first    2022-02-08
        last     2022-07-21
        count           164
XEC     first    2021-09-03
        last     2022-07-21
        count           322
XEM     first    2020-11-24
        last     2022-07-21
        count           605
XLM     first    2018-05-31
        last     2022-07-21
        count          1513
XMR     first    2019-03-15
        last     2022-07-21
        count          1225
XRP     first    2018-05-04
        last     2022-07-21
        count          1540
XTZ     first    2019-09-24
        last     2022-07-21
        count          1032
YFI     first    2020-08-10
        last     2022-07-21
        count           711
ZEC     first    2019-03-21
        last     2022-07-21
        count          1219
ZEN     first    2020-07-06
        last     2022-07-21
        count           746
ZIL     first    2019-02-19
        last     2022-07-21
        count          1249
ZRX     first    2019-02-28
        last     2022-07-21
        count          1240
Name: Open Time, dtype: object

In [14]:
data.corr()

,Open,High,Low,Close,Volume,Quote Asset Volume,Number of Trades,TB Base Volume,TB Quote Volume,Change_close
Open,1.000000,0.998950,0.998401,0.998161,-0.007139,0.481725,0.319596,-0.007064,0.478122,-0.004572
High,0.998950,1.000000,0.997545,0.998926,-0.007136,0.479064,0.318117,-0.007062,0.475732,-0.000532
Low,0.998401,0.997545,1.000000,0.998816,-0.007139,0.481095,0.319769,-0.007064,0.477872,-0.000647
Close,0.998161,0.998926,0.998816,1.000000,-0.007140,0.480524,0.319396,-0.007065,0.477444,0.002574
Volume,-0.007139,-0.007136,-0.007139,-0.007140,1.000000,0.152451,0.275118,0.999601,0.155392,0.020701
Quote Asset Volume,0.481725,0.479064,0.481095,0.480524,0.152451,1.000000,0.892866,0.152648,0.999548,0.051895
Number of Trades,0.319596,0.318117,0.319769,0.319396,0.275118,0.892866,1.000000,0.275387,0.895916,0.099100
TB Base Volume,-0.007064,-0.007062,-0.007064,-0.007065,0.999601,0.152648,0.275387,1.000000,0.155681,0.022651
TB Quote Volume,0.478122,0.475732,0.477872,0.477444,0.155392,0.999548,0.895916,0.155681,1.000000,0.057497
Change_close,-0.004572,-0.000532,-0.000647,0.002574,0.020701,0.051895,0.099100,0.022651,0.057497,1.000000